# Project (Part 2)_B

In [24]:
import pandas as pd


pd.set_option('display.max_columns', None)

In [25]:
# import both gz files and then combine them
df_2000 = pd.read_csv(r"C:\Users\om22285\OneDrive - Old Mutual\Documents\Employee Performance\2023\Umluzi Data Science Bootcamp\Coding Dojo Environment\Project-3\Data\Moviesfinal_tmdb_data_2000.csv.gz")
df_2001 = pd.read_csv(r"C:\Users\om22285\OneDrive - Old Mutual\Documents\Employee Performance\2023\Umluzi Data Science Bootcamp\Coding Dojo Environment\Project-3\Data\Moviesfinal_tmdb_data_2001.csv.gz")

In [26]:
# combine dataframes into one
df_combined = pd.concat([df_2000, df_2001], axis=0)
df_combined.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.601,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,"[{'id': 51207, 'logo_path': None, 'name': 'Sul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.223,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",1.800,/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg,[],"[{'iso_3166_1': 'IN', 'name': 'India'}]",2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,Two neighbors become intimate after discoverin...,27.802,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2000-09-29,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.104,2366.0,PG

In [32]:
# Number of movies per certification
df_combined.groupby('certification').count()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
certification,,,,,,,,,,,,,,,,,,,,,,,,,
G,74,74,54,20,74,74,7,74,74,74,74,74,70,74,74,74,74,74,74,74,31,74,74,74,74
NC-17,187,187,30,14,187,187,2,187,187,187,185,187,172,187,187,187,187,187,187,187,64,187,187,187,187
NR,181,181,67,8,181,181,16,181,181,181,180,181,155,181,181,181,181,181,181,181,80,181,181,181,181
PG,95,95,69,18,95,95,15,95,95,95,95,95,91,95,95,95,95,95,95,95,62,95,95,95,95
PG-13,215,215,184,32,215,215,31,215,215,215,215,215,212,215,215,215,215,215,215,215,174,215,215,215,215
R,506,506,395,70,506,506,37,506,506,506,506,506,493,506,506,506,506,506,506,506,381,506,506,506,506
Unrated,1,1,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
X,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1

In [29]:
# Average revenue per category
df_combined.groupby('certification')['revenue'].mean().round()

certification
G          23445917.28
NC-17             0.00
NR          1842888.04
PG         40458304.35
PG-13      60504699.97
R          13274799.90
Unrated           0.00
X                 0.00
Name: revenue, dtype: float64

In [30]:
# Average budget per category
df_combined.groupby('certification')['budget'].mean().round(2)

certification
G           7731046.81
NC-17            64.17
NR          1008273.17
PG         16244736.88
PG-13      26645871.57
R           8257806.40
Unrated           0.00
X                 0.00
Name: budget, dtype: float64